absl-py
astunparse
attrs
bioc
blis
cachetools
catalogue
certifi
charset-normalizer
click
cymem
emoji
filelock
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib-metadata
intervaltree
Jinja2
joblib
jsonlines
Keras-Preprocessing
langcodes
lxml
Markdown
MarkupSafe
murmurhash
numpy
oauthlib
opt-einsum
packaging
pathy
preshed
protobuf
pyasn1
pyasn1-modules
pydantic
pyparsing
PyYAML
regex
requests
requests-oauthlib
rsa
sacremoses
scipy
six
smart-open
sortedcontainers
spacy
spacy-legacy
spacy-loggers
srsly
stanza
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
thinc
tokenizers
torch
tqdm
transformers
typer
typing_extensions
urllib3
wasabi
Werkzeug
wrapt
zipp
